---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import SectionTitle from "@components/SectionTitle.astro";
import { Image } from "astro:assets";
import Golf from "@assets/imgs/golf.webp";
---

<Layout title="GolfOne - Conectando Golpes, Creando Partidas ">
  <main transition:animate="slide">
    <Container>
      <section>
        <div class="grid md:grid-cols-2 grid-cols-1 gap-4 text-white">
          <div class="p-10 text-white col-span-1">
            <div class="grid grid-cols-4 gap-4 text-white">
              <div
                class="flex flex-col items-center justify-center col-span-4 p-10 mt-10 text-center"
              >
                <SectionTitle title="Conectando Golpes, Creando Partidas" />
                <p class="mt-5 text-lg text-golfgreenlight">
                  Golf One, es la app enfocada a la unificación de jugadores en
                  partidas de golf. Ayudamos a los jugadores a encontrar
                  compañeros de golf en base a sus habilidades(Hcp), ubicación,
                  profesión,etc. Por otro lado, ayuda a los campos a generar un
                  volumen mayor de partidas, además de facilitar el registro de
                  las mismas.
                </p>
              </div>
            </div>
          </div>
          <div
            class="col-span-1 flex items-center justify-center md:p-10 px-10 mt-10"
          >
            <Image
              class="mt-5 rounded-lg w-[35rem] aspect-auto"
              src={Golf}
              alt="Persona jugando al golf en un campo de golf."
            />
          </div>
        </div>
      </section>
      <section>
        <div class="grid md:grid-cols-2 grid-cols-1 gap-4 text-white">
          <div class="col-span-1">
            <Image
              class="mt-5 rounded-lg w-[35rem] aspect-auto"
              src={Golf}
              alt="Persona jugando al golf en un campo de golf."
            />
          </div>
          <div class="p-10 col-span-1">
            <div class="col-span-1 gap-4 text-white">
              <div
                class="flex flex-col items-center justify-center p-10 mt-10 text-center"
              >
                <SectionTitle title="Selecciona tu Campo de Golf" />
                <p class="mt-5 text-lg text-golfgreenlight">
                  Busca el campo de Golf donde más te gustaría jugar
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="grid md:grid-cols-2 grid-cols-1 gap-4 text-white">
          <div class="p-10 col-span-1">
            <div class="col-span-1 gap-4 text-white">
              <div
                class="flex flex-col items-center justify-center p-10 mt-10 text-center"
              >
                <SectionTitle title="Únete o crea partidas de Golf" />
                <p class="mt-5 text-lg text-golfgreenlight">
                  Elige una partida a la que deseas unirte teniendo en cuenta tu
                  Hcp de juego. También, podrás crear una nueva partida a la que
                  se podrán unir más jugadores.
                </p>
              </div>
            </div>
          </div>
          <div class="col-span-1">
            <Image
              class="mt-5 rounded-lg w-[35rem] aspect-auto"
              src={Golf}
              alt="Persona jugando al golf en un campo de golf."
            />
          </div>
        </div>
      </section>
      <section>
        <div class="grid md:grid-cols-2 grid-cols-1 gap-4 text-white">
          <div class="col-span-1">
            <Image
              class="mt-5 rounded-lg w-[35rem] aspect-auto"
              src={Golf}
              alt="Persona jugando al golf en un campo de golf."
            />
          </div>
          <div class="p-10 col-span-1">
            <div class="col-span-1 gap-4 text-white">
              <div
                class="flex flex-col items-center justify-center p-10 mt-10 text-center"
              >
                <SectionTitle title="Elige tu modelo de partida" />
                <p class="mt-5 text-lg text-golfgreenlight">
                  Elige el modelo de partida que más se ajuste para tu salida a
                  campo
                </p>
                <div class="grid grid-cols-2">
                  <div class="col-span-1">
                    <div
                      class="flex flex-col items-center justify-center p-10 mt-10 text-center"
                    >
                      <h2 class="text-2xl font-bold text-golfgreenlight">
                        Friendly Game
                      </h2>
                      <ol class="mt-5 text-lg text-golfgreenlight">
                        <li>- No cuenta para Hcp</li>
                        <li>- Trackeo de partida</li>
                      </ol>
                    </div>
                  </div>
                  <div class="col-span-1">
                    <div
                      class="flex flex-col items-center justify-center p-10 mt-10 text-center"
                    >
                      <h2 class="text-2xl font-bold text-golfgreenlight">
                        Hcp Game
                      </h2>
                      <ol class="mt-5 text-lg text-golfgreenlight">
                        <li>- Cuenta para Hcp</li>
                        <li>- Trackeo de partida</li>
                      </ol>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </Container>
  </main>
</Layout>
