---
import Network from "./Network.astro";
---

<nav class="md:rounded-full md:m-auto mt-5 md:mt-0">
  <ul class="flex md:items-end md:justify-end justify-center items-center">
    <Network socialnetwork="twitter" url="https://twitter.com/AngelAngulo95" />
    <Network
      socialnetwork="linkedin"
      url="https://linkedin.com/in/angelangulonieto"
    />
    <Network socialnetwork="github" url="https://github.com/kaixe455" />
  </ul>
</nav>
